@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HelveticaNeueMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HelveticaNeueBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HelveticaNeueLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HelveticaNeueHeavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HelveticaNeueHeavyItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Remove or override these to maintain dark theme */
    color: var(--white);
    background-color: var(--black);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--light-black);
  }
}

:root {
  
  line-height: 1.5;
  font-weight: 400;

  --white: #FFFFFF;
  --black: #0D0D0D;
  --light-black: #1d1c1c;
  --dark-gray: #404040;
  --light-gray: #A6A6A6;
  background-color: #0D0D0D;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, sans-serif;
  font-family: var(--font-family);
  color: var(--white);
  
  --font-size-small: 1em;

}

p {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05em;
}

@media (min-width: 768px) {
  p {
    font-weight: 300;
  }
}

h1 {
  font-size: 4em;

}

@media (min-width: 1200px) {
  h1 {
    font-size: 5em;
  }
}

h2 {
  font-size: 2em;
}


a {
  font-weight: 500;
  color: var(--white);
  text-decoration: inherit;
}


body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* Accessible focus styles */
*:focus-visible {
  outline: 3px solid #3b82f6;
  outline-offset: 2px;
}

button:focus-visible {
  outline: 3px solid #3b82f6;
  outline-offset: 2px;
}

a:focus-visible {
  outline: 3px solid #3b82f6;
  outline-offset: 2px;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 3px solid #3b82f6;
  outline-offset: 2px;
}

