.content-wrapper {
    position: relative;
    z-index: 2;
    pointer-events: none;
}

/* Allow pointer events on interactive elements */
.content-wrapper a,
.content-wrapper button,
.content-wrapper input,
.content-wrapper textarea,
.content-wrapper select,
.content-wrapper [role="button"],
.content-wrapper [tabindex="0"] {
    pointer-events: auto;
}

/* Add these classes to any other elements that need interaction */
.clickable {
    pointer-events: auto;
}

.canvas-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: auto;
    background-color: var(--black);
    overflow: hidden; 

    /* --- SINGLE RADIAL MASK --- */
    mask-image: radial-gradient(
        ellipse farthest-corner at center center, 
        black 40%,   /* Opaque center area size */
        transparent 80% /* Fade to transparent at the corners */
    );
    -webkit-mask-image: radial-gradient(
        ellipse farthest-corner at center center, 
        black 10%, 
        transparent 90%
    );
    
    /* Remove composite properties */
    mask-composite: initial; 
    -webkit-mask-composite: initial; 


}


.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    
}


/*      WORK SECTION      */

.work-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    
}
.work-section h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.experiments-button-container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.experiments-button {
    display: flex;
    background-color: var(--light-black);
    font-size: 1.25rem;
    padding: 0.6rem 0.9rem;
    border-radius: 10px;
    color: var(--white);
    text-decoration: none;
    border: 1px solid #000;
    transition: box-shadow 0.3s ease-in-out;
    
}

.experiments-button:hover {
    box-shadow: 0px 0px 114.408px 0px #737373, 0px 0px 65.376px 0px #737373, 0px 0px 38.136px 0px #737373, 0px 0px 19.068px 0px #737373, 0px 0px 5.448px 0px #737373, 0px 0px 2.724px 0px #737373;
    
}
