.background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    pointer-events: auto; /* Enable interaction with the canvas */
    touch-action: pan-y; /* Allow vertical scrolling */
    background-color: var(--black);
    max-width: 90%;
    max-height: 90%;
}