.contact-section {
    text-align: center;
    margin-top: 10rem;
    
}

.contact-section h2 {
    color: var(--white);
    margin: 0;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    padding: 2rem 0;
}

.social-links {
    display: flex;
    gap: 2rem;
    
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.social-link img {
    width: 24px; /* Adjust size as needed */
    height: 24px;
    filter: invert(1); /* This will allow the SVG to inherit color */
}

.copyright {
    margin-top: 2rem;
    font-size: 0.75rem;
    color: var(--medium-gray);
    opacity: 0.8;
}

