.hamburger-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1001; /* Higher than the menu */
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-shadow: none;
    background-color: #bdbdbd;
    border-radius: 30rem;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.hamburger-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom right, #222222, #867b7b);
    border-radius: 30rem;
    z-index: -10;

}

.hamburger-container div[style*="position: absolute"] {
    border-radius: 10rem;  /* round the edges */
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.hamburger-menu {
    position: fixed;
    top: 5rem;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom right, #2222223d, #867b7b3a);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin: 0 1rem;
    animation: fadeIn 0.3s ease-in-out;
    /* Add these for smoother appearance/disappearance */
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    max-width: 400px;
    margin: 0 auto;
}

.hamburger-menu::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #41414176;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 1rem;
    margin: 0.15rem;
    animation: fadeIn 0.3s ease-in-out;
    /* Add these for smoother appearance/disappearance */
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    z-index: -10000;
    
}

.hamburger-menu.closing {
    opacity: 0;
}

.hamburger-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.hamburger-menu li {
    padding: 1rem;
    font-size: 1.5rem;
}

.hamburger-menu a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    position: relative;
    padding-bottom: 0.25rem;
    transition: all 0.3s ease;
}