.single-work {
    padding-top: 6rem;
    margin: 0 auto;
    padding-left: 1rem;  /* Keep side padding */
    padding-right: 1rem; /* Keep side padding */
    padding-bottom: 1rem; /* Keep bottom padding */
}

.single-work-container {
    width: 100%;
    margin: 0 auto;

}

.back-link {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    padding-left: 1rem;
}

.work-title-year {
    text-align: center;
    margin-bottom: 1rem;
}

.work-title-year h1 {
    font-size: 1.75rem; 
    font-weight: 400;
    margin: 0;
    margin-bottom: 0.25rem;
}

.work-title-year p {
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.8;
}

.work-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.skill-tag-single {
    background-color: #fff;
    color: #000;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

.work-media {
    max-width: 30rem;
    margin: 0 auto;
}

/* Message below gallery */
.development-message {
    text-align: center;
    font-size: 0.8rem; 
    margin: 0.8rem 0 1.5rem;
    opacity: 0.8;
}


.project-link-container {
    text-align: center;
    margin: 1rem 0 2rem; /* Same margin as development message */
}

.project-link-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--light-black); /* Or your primary button color */
    color: var(--white); /* Text color */
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 0.8rem;
    border: 1px solid var(--white);
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;


}


.project-link-button:hover {
    background-color: var(--white); /* Darker background on hover */
    color: var(--black); /* Lighter text on hover */
    border-color: var(--black);
}

.project-link-button img {
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.7rem;
    
    filter: invert(1); /* Initial state */
    rotate: 50deg;      /* Initial state */
    /* Define image transitions on the base img state */
    transition: filter 0.5s ease, rotate 0.5s ease;
}

.project-link-button:hover img {
    margin-bottom: 0.25rem;
    filter: invert(0); /* Initial state */
    rotate: 0deg;      /* Initial state */
    /* Define image transitions on the base img state */
    transition: filter 0.5s ease, rotate 0.5s ease;
}


.work-overview {
    margin-top: 1rem;
    width: 100%;
    box-sizing: border-box;
    max-width: 35rem;
    margin: 0 auto;
}



.work-overview h2 {
    font-size: 1.2rem; 
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
    text-align: center;
}

.work-overview-description {
    line-height: 1.4;
    margin-bottom: 1.5rem;
    width: 100%;
}

